<div>
<div  style="margin-top: 60px;">
    <div class="container">
    <div class="row">
        <div  class="col-2">  
            <br>
            <br>
            <img style="margin-left: -40px;" class="image" src="./assets/Logo.jpg" alt="">   
        </div>

        <div class="col-3">
            <h5>RADNO VREME</h5>
            <br>
            <h6> Ponedeljak je neradan dan <br> <br>
                 Utorak - Petak 10:00-19:00h <br> <br>
                 Vikend 10:00-23:00h
            </h6>
        
        </div>
       
        <div class="col-3">
            <h5>Kontakt</h5>
            <br>
          <p> <i class="fa fa-phone" aria-hidden="true"></i> &nbsp;
                <a style="color: rgb(240, 221, 200);" href="tel:0644851058"
                  onclick="ga('send', 'event', { eventCategory: 'Contact', eventAction: 'Call', eventLabel: 'Mobile Button'});">064/485-1058</a>
                </p>
                <p>  <i class="fa fa-envelope"></i> &nbsp;
                  <a style="color: rgb(240, 221, 200);" href="mailto:restoranNeva@gmail.com">restoranNeva@gmail.com</a>
                </p>
                <br>
                &nbsp;
                &nbsp;
                &nbsp;
                <a href="https://www.instagram.com/anaa_dragicevic/?hl=en" class="fa fa-instagram" target="_blank"></a> &nbsp; &nbsp;
                <a href="https://sr-rs.facebook.com/dragicevic.anaa" class="fa fa-facebook" target="_blank"></a> &nbsp; &nbsp;
                <a href="https://twitter.com/AnaDragicevic" class="fa fa-twitter" target="_blank"></a>
        </div>
        <div class="col-4">
            <h5>Lokacija</h5>
            <br>
           <p> <i class="fa fa-map-marker" aria-hidden="true"></i> &nbsp; <a style="color: rgb(240, 221, 200);" href="https://www.google.com/maps/dir/Gabbiano,+Zemunski+Kej+bb,+Beograd+11000/Belgrade/@44.8198903,20.4305549,15z/data=!3m1!4b1!4m13!4m12!1m5!1m1!1s0x475a656c2b8959a1:0xa78f1c0aec70b176!2m2!1d20.424342!2d44.826197!1m5!1m1!1s0x475a7aa3d7b53fbd:0x1db8645cf2177ee4!2m2!1d20.4612299!2d44.8125449">Zemunski Kej bb, Beograd</a> </p>
           <iframe width="420" height="180" id="gmap_canvas" src="https://maps.google.com/maps?q=Zemunski%20Kej%20bb,%20Beograd%2011000&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://123movies-to.org"></a><br><style>.mapouter{position:relative;text-align:right;height:500px;width:600px;}</style><a href="https://www.embedgooglemap.net"></a><style>.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:600px;}</style>
        </div>
    </div>
    <div class="row">
        <div class="col-4"></div>
        <div class="col-6" style="margin-top: -10px;">  <p > <strong> &#169; Copyright 2023 All rights reserved by NEVA restaurant </strong></p></div>
        <div class="col-2"></div>
    </div>
</div>
</div>
</div>
