<div class="container" >
    <div class="row">
        <div *ngIf="!(auth.user$ | async)" class="col-8" style="margin-top: 15%; margin-bottom: 8%;">
            <h2>DOBRODOŠLI, DA LI STE GLADNI?</h2>
            <h6> Od dostave Vaše omiljenje hrane na kućnu adresu, deli Vas samo jedan klik!</h6>
            <br>
            <button class="btn" (click)="login()"> Registruj se</button>
        </div>
        <div *ngIf="!(auth.user$ | async)" class="col-2" style="margin-top: 8%; margin-bottom: 8%;">
            <img src="./assets/menu3.jpg" alt="">
        </div>
    </div>
</div>