img{
    height: 100%;
    width: 100%;
    border: 2px solid rgb(61, 43, 26);

}
img:hover{
    transform: scale(1.1,1.1);
    transition-timing-function: ease-in-out;
    transition-duration: 1500ms;
}

.image{
   width: 100px;
   height: 100px;
   border-radius: 100%;

}

h5, h6{
    font-family: 'Cinzel', serif;
    color: rgb(243, 215, 183);
}

.fa{
   font-size: 30px;
   color:  rgb(202, 178, 147);

}