<div class="container">
    <br>
    <br>
    <div class="row">

        <div class="col-1"> <img class="image" src="./assets/enterier.jpeg" alt=""></div>
        &nbsp; &nbsp; &nbsp;
        <div class="col-3">
            <br>
            <h5> Restoran NEVA <br> </h5>
            <h6><a style="color: rgb(240, 221, 200);" href="tel:0644851058"
                    onclick="ga('send', 'event', { eventCategory: 'Contact', eventAction: 'Call', eventLabel: 'Mobile Button'});">064/485-1058</a>
            </h6>
        </div>
        <div class="col-5"></div>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <div class="col-2">
            <br>
            <a href="https://www.instagram.com/anaa_dragicevic/?hl=en" class="fa fa-instagram" target="_blank"></a>
            &nbsp; &nbsp;
            <a href="https://sr-rs.facebook.com/dragicevic.anaa" class="fa fa-facebook" target="_blank"></a> &nbsp;
            &nbsp;
            <a href="https://twitter.com/AnaDragicevic" class="fa fa-twitter" target="_blank"></a>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-4"> <img src="./assets/11.webp" alt=""> </div>
        <div class="col-4"> <img src="./assets/2.jpg" alt=""> </div>
        <div class="col-4"> <img src="./assets/3.jpg" alt=""> </div>
    </div>
    <br>
    <div class="row">
        <div class="col-4"> <img src="./assets/6.jpg" alt=""> </div>
        <div class="col-4"> <img src="./assets/9.jpg" alt=""> </div>
        <div class="col-4"> <img src="./assets/13.jpg" alt=""> </div>
    </div>
    <br>
    <div class="row">
        <div class="col-4"> <img src="./assets/7.jpg" alt=""> </div>
        <div class="col-4"> <img src="./assets/8.jpg" alt=""> </div>
        <div class="col-4"> <img src="./assets/5.jpg" alt=""> </div>
    </div>
    <br>
</div>