<div style="margin-right:-10px; background-image: url('https://media.istockphoto.com/id/1028672898/video/vintage-and-retro-orange-light-bulb-hanging-over-dark-background-in-cafe-at-night-many-luxury.jpg?s=480x480&k=20&c=G9XXeP06r6ci98eAAKqTpkUoiHIfeDO-xEaus4ej7mQ='); background-repeat: no-repeat; background-size: cover; opacity: 93%;">
    <nav-bar></nav-bar>
    <div style="margin-top: 50px; margin-bottom: -18px; ">
        <router-outlet></router-outlet>
        <br>
        <br>
    </div>
</div>
<div style="margin-right:-10px; background-color: black; opacity: 93%;">
    <hr style="border: 1px solid rgb(103, 89, 73);">
    <app-footer></app-footer>
    <br>
</div>