<nav class="navbar navbar-expand-lg">
  <div class="container">
    <div class="collapse navbar-collapse" id="navbarColor01">
      <nav class="navbar navbar-expand-lg navbar-light fixed-top bg-black">
        <div class="container">
          <img class="imageBrand" src="./assets/Logo.jpg" alt="">
          <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
              <li class="navbar-brand"> </li>
              <li class="nav-item"> <a class="nav-link" routerLink="/"> Početna </a> </li>
              <li class="nav-item"> <a class="nav-link" routerLink="/meni"> Meni </a></li>
              <li class="nav-item"> <a class="nav-link" routerLink="/kontakt"> Galerija </a></li>
              <li class="nav-item"> <a class="nav-link" routerLink="/poručivanje"> Poruči online </a></li>
            </ul>
          </div>
          <div *ngIf="auth.user$ | async as user" class="dropdown" dropdown>
            <a class="dropdownToggle" dropdownToggle>
              <img class="rounded-circle" src="{{user.photoURL}}"> {{user.displayName}}
            </a>
            <div class="dropdown-menu" *dropdownMenu>
              <a href="" class="dropdown-item" routerLink="/istorijaPorudžbina">Istorija porudžbina</a>
              <div class="dropdown-divider"></div>
              <a href="" class="dropdown-item" routerLink="/kreiranjeJelovnika">Kreiranje jelovnika</a>
              <div class="dropdown-divider"></div>
              <a href="" class="dropdown-item" routerLink="/" (click)="logout()">Odjavi se</a>
            </div>
          </div>