.nav-item,
.nav-link {
    color: rgb(240, 221, 200);
    font-family: 'Cinzel', serif;
}

ul {
    margin-left: 20%;
}

.imageBrand {
    width: 75px;
    height: 55px;
    margin-left: 5%;
}

.rounded-circle {
    height: 50px;
    width: 50px;
    margin-left: -30%;
}

.dropdownToggle {
    color: rgb(240, 221, 200);
    font-family: 'Cinzel', serif;
    font-size: x-small
}

.dropdown-menu {
    border: 1px solid rgb(168, 141, 109);
    color: rgb(168, 141, 109);
    text-align: center;
    font-family: 'Cinzel', serif;
    font-weight: bold;
    border-radius: 0%;
    background-color: black;
    box-shadow: 4px 4px 5px black;
}

.dropdown-item{
   color: rgb(168, 141, 109);
}

.dropdown-divider{
    background-color: rgb(168, 141, 109);
   
}

.dropdown-item:hover {
    background-color: rgb(173, 153, 130);
    color: black;
}