<div class="container">
    <br>
    <div class="row">
    <h3 ><strong>Jelovnik</strong></h3>
    <br />
    <h5>Kliknite na dugme pored da dodate novi proizvod &nbsp; <a routerLink="/kreiranjeJelovnika/dodavanje"
            class="btn btn-primary">Dodaj</a></h5>
        <br>
        <div class="col-2"></div>
    <div class="col-8">
        <br>
    <table class="table">
        <thead>
        </thead>
        <tbody *ngFor="let p of products$ | async">
            <tr ></tr>
            <td><img [src]="p.payload.val().urlSlike" alt="error" class="thumbnail"> {{p.payload.val().naziv}}</td>
            <td>{{p.payload.val().cena}} RSD</td>
            <td> <a [routerLink]="['/kreiranjeJelovnika/', p.key]">Izmeni</a> </td>
        </tbody>
    </table>
</div>

</div>
</div>