<div class="container">
    <div class="row">
        <div class="col-12">
            <img src="./assets/home.jpeg" alt="">
        </div>
        <br />
    </div>
    <div class="row" style="margin-top: 30px;">
        <div class="col-4">
            <br>
            <h4> Paste i pizze</h4>
            <br>
            <p>Italijanski ukus u Beogradu!
                <br>
                Veliki izbor najboljih pasti i pica uz koje ćete se osećati kao da ste u centru Rima!
                Nudimo Vam sve vrste najpopularnijih pasti i pica, od vegeterijanskih do onih koje će se dopasti i
                najvećim gurmanina.
            </p>
        </div>
        <div class="col-4"><img class="image" src="./assets/pasta.png" alt=""></div>
        <div class="col-4"><img class="image" src="./assets/pizza.jpg" alt=""></div>
    </div>
    <div class="row">
        <div class="col-4"> <br>
            <h4>Mediteranski ukus</h4>
            <p> Uzbudljiva kombinacija lokalne i Grčke gastronomije i hedonizma. Mesto gde se domaći ukusi stapaju sa
                mediteranom, gde harmonija zadovoljstva ima sasvim novu morsku dimenziju. Mediteran i balkanska čarolija
                pružiće Vam ukus kojem ćete uvek želeti da se vratite.</p>
        </div>
        <div class="col-4"> <img class="image" src="./assets/fish.jpg" alt=""></div>
        <div class="col-4"> <img class="image" src="./assets/seafood.jpg" alt=""></div>
    </div>
    <div class="row">
        <div class="col-4"> <br>
            <h4>Jela od mesa</h4>
            <p> Ako ste poželeli ste jedan kvalitetan obrok od mesa, na pravom ste mestu.
                Najbolja jela od mesa podrazumevaju poznate specijalitete koji su sveži, dobro pripremljeni, lepo
                ispečeni i servirani na najbolji mogući način. Svemu tome mogu doprineti začini koji su najčešće tajna
                kuhinje, zbog čega i jesu toliko posebna ta jela. </p>
        </div>
        <div class="col-4"> <img class="image" src="./assets/meat1.jpg" alt=""></div>
        <div class="col-4"> <img class="image" src="./assets/meat4.jpg" alt=""></div>
    </div>
</div>