<img style="height: 380px;" src="./assets/back1.jpg" alt="">
<div class="container">
    
    <div class="row" style="margin-top: 60px;">
        
        <div class="col-4"> 
            <h3> Biser arhitekture</h3> <br>
        <p>Jedan od najlepsih objekata učiniće Vaš obrok još lepšim. Restoran NEVA projektovan je po 
            uzoru na najlepše restorane metropola širom sveta. Objekat može da ugosti preko 200 gostiju, a usput
            ispuni želje svakog od njih. Takodje, prijatno osoblje i neverovatna atmosfera učiniće da se sigurno 
            vratite kod nas.
        </p>
            
        </div>
        <div class="col-4"> <img class="image" src="./assets/enterier.jpeg" alt=""></div>
        <div class="col-4"> <img class="image" src="./assets/enterier1.jpg" alt=""></div>
    </div>
    <div class="row" style="margin-top: 40px;">
        <div class="col-4"> 
            <h3>Mediteranski ukus</h3> <br>
            <p> Uzbudljiva kombinacija lokalne i Grčke gastronomije i hedonizma. Mesto gde se domaći ukusi stapaju sa
                mediteranom, gde harmonija zadovoljstva ima sasvim novu morsku dimenziju. Mediteran i balkanska čarolija
                pružiće Vam ukus kojem ćete uvek želeti da se vratite. Ljubitelji morskih plodova, izistinski će uživati u našoj kuhinji.</p>
        </div>
        <div class="col-4"> <img class="image" src="./assets/fish.jpg" alt=""></div>
        <div class="col-4"> <img class="image" src="./assets/seafood.jpg" alt=""></div>
    </div>
    <div class="row" style="margin-top: 40px;">
        <div class="col-4">
          
            <h3> Paste i pizze</h3> <br>
            <p>Italijanski ukus u Beogradu!
                
                Veliki izbor najboljih pasti i pica uz koje ćete se osećati kao da ste u centru Rima!
                Nudimo Vam sve vrste najpopularnijih pasti i pica, od vegeterijanskih do onih koje će se dopasti i
                najvećim gurmanina. Domaća testenina i domaće testo, daju poseban ukus italijanskom delu naše kuhinje.
            </p>
        </div>
        <div class="col-4"><img class="image" src="./assets/pasta1.jpg" alt=""></div>
        <div class="col-4"><img class="image" src="./assets/pizza.jpg" alt=""></div>
        
    </div>
    <div class="row" style="margin-top: 40px;">
        <div class="col-4"> <h3>Jela od mesa</h3> <br>
            <p> Ako ste poželeli ste jedan kvalitetan obrok od mesa, na pravom ste mestu.
                Najbolja jela od mesa podrazumevaju poznate specijalitete koji su sveži, dobro pripremljeni, lepo
                ispečeni i servirani na najbolji mogući način. Svemu tome mogu doprineti začini koji su najčešće tajna
                kuhinje, zbog čega i jesu toliko posebna ta jela. </p>  </div>
        <div class="col-4"> <img class="image" src="./assets/meat1.jpg" alt=""></div>
        <div class="col-4"> <img class="image" src="./assets/meat2.jpg" alt=""></div>
    </div>
</div>